<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% extends 'indianexpress/base.html' %}
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


</head>
<body>
{% block title %}Reservation Confirmation{% endblock title %}

{% block content %}


    <div class="text-primary"><h1>Reservation Details</h1></div>
    <br/>
    <br/>
<form method="post">
  {% csrf_token %}
    <strong> Hello {{ name }}, Thank you for making a reservation with IndianXpress. Following are your reservation details:</strong>
    <br/>
    <br/>
    <br/>
    <p> <strong>Name: </strong>{{ name }}</p>
    <p><strong>Email: </strong>{{ email }}</p>
    <p><strong>Phone number: </strong>{{ num }}</p>
    <p><strong>Reservation Date: </strong>{{ date }}</p>
    <p><strong>Reservation Time: </strong>{{ time }}</p>
    <p><strong>Number of guests: </strong>{{ guests }}</p>
    <p><strong>Additional requests: </strong>{{ requests }}</p>
    <br/>
    <br/>
    <strong>We can't wait to see you!!</strong>
    <br/>
    <br/>
    <br/>
    <strong>Best</strong>
    <br/>
    <strong>IndianXpress Team</strong>



</form>
{% endblock content %}
</body>
</html>
