<!DOCTYPE html>
<html lang="en">
{% extends 'indianexpress/base.html' %}
{% load static %}
<form method="post">
{% block content %}
  {% csrf_token %}
    <style>
    .row{
        width: 100%;
        height: auto;
}

    </style>

<head>
    <meta charset="UTF-8">
    <title>Title</title>




</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h1 class="text-center">Explore our Menu</h1>
    </div>




</div>

<div class="container">
    <div class="row">
        <div class="col">
          <h3>VEG</h3>
        </div>
        <div class="col">
          <h3>NON-VEG</h3>
        </div>
    </div>

    <h4>Soup</h4>
{#    #row 1#}
    <div class="row">
        <div class="col">
            <div><img src="{% static "images/services.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
          <input type="number" class="numb" id="1" value="1">
        </div>
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
            <input type="number" class="numb" id="1" value="1">
        </div>
    </div>

{#    #row 2#}
    <div class="row">
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
          <input type="number" class="numb" id="1" value="1">
        </div>
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
            <input type="number" class="numb" id="1" value="1">
        </div>
    </div>

    <h4>Starter</h4>
{#    #row 1#}
    <div class="row">
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
          <input type="number" class="numb" id="1" value="1">
        </div>
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
            <input type="number" class="numb" id="1" value="1">
        </div>
    </div>

{#    #row 2#}
    <div class="row">
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
          <input type="number" class="numb" id="1" value="1">
        </div>
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
            <input type="number" class="numb" id="1" value="1">
        </div>
    </div>

        <h4>Entree</h4>
{#    #row 1#}
    <div class="row">
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
          <input type="number" class="numb" id="1" value="1">
        </div>
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
            <input type="number" class="numb" id="1" value="1">
        </div>
    </div>

{#    #row 2#}
    <div class="row">
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
          <input type="number" class="numb" id="1" value="1">
        </div>
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
            <input type="number" class="numb" id="1" value="1">
        </div>
    </div>

{#        #row 3#}
    <div class="row">
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
          <input type="number" class="numb" id="1" value="1">
        </div>
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
            <input type="number" class="numb" id="1" value="1">
        </div>
    </div>

{#    #row 4#}
    <div class="row">
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
          <input type="number" class="numb" id="1" value="1">
        </div>
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
            <input type="number" class="numb" id="1" value="1">
        </div>
    </div>

    <h4>Bread</h4>
{#    #row 1#}
    <div class="row">
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
          <input type="number" class="numb" id="1" value="1">
        </div>
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
            <input type="number" class="numb" id="1" value="1">
        </div>
    </div>

{#    #row 2#}
    <div class="row">
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
          <input type="number" class="numb" id="1" value="1">
        </div>
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
            <input type="number" class="numb" id="1" value="1">
        </div>
    </div>

        <h4>Dessert</h4>
{#    #row 1#}
    <div class="row">
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
          <input type="number" class="numb" id="1" value="1">
        </div>
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
            <input type="number" class="numb" id="1" value="1">
        </div>
    </div>

    <h4>Beverage</h4>
{#    #row 1#}
    <div class="row">
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
          <input type="number" class="numb" id="1" value="1">
        </div>
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
            <input type="number" class="numb" id="1" value="1">
        </div>
    </div>

{#    #row 2#}
    <div class="row">
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
          <input type="number" class="numb" id="1" value="1">
        </div>
        <div class="col">
            <div><img src="{% static "images/cupcakes.jpeg" %}" alt="customer"/></div>
            <div>veg hot soup</div>
            <div>3.99</div>
        </div>
        <div class="col">
            <input type="number" class="numb" id="1" value="1">
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Order completed</button>



</body>
    </form>
{% endblock content %}

</html>